* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

button:focus, button:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

body {
  font-family: "Sen", sans-serif;
}
body.no-scroll {
  overflow: hidden;
}

section {
  padding: 65px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  flex: 1 0 auto;
}

[class*=container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  line-height: 1.5;
}
.button-light {
  padding: 5px 35px;
  background: #F9F9F9;
  color: #222222;
}
.button-light:hover {
  background: #eb5757;
  color: #F9F9F9;
}
.button-light-outline {
  padding: 5px 35px;
  background: none;
  color: #F9F9F9;
  border: 1px solid #F9F9F9;
}
.button-light-outline:hover {
  background: #F9F9F9;
  color: #222222;
}
.button-dark {
  padding: 5px 35px;
  background: #222222;
  color: #F9F9F9;
}
.button-dark:hover {
  background: #eb5757;
}
.button-dark-outline {
  padding: 5px 35px;
  background: none;
  color: #222222;
  border: 1px solid #222222;
}
.button-dark-outline:hover {
  background: #222222;
  color: #F9F9F9;
  border: 1px solid #F9F9F9;
}
.button-prime {
  padding: 5px 35px;
  background: #eb5757;
  color: #F9F9F9;
}
.button-prime:hover {
  background: #222222;
  color: #F9F9F9;
}

.box-laybel {
  position: relative;
  background: rgb(34, 34, 34);
  background: linear-gradient(0deg, rgba(34, 34, 34, 0.9150253852) 4%, rgba(255, 255, 255, 0) 100%);
}
.box-laybel::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../img/nathan-dumlao.jpg") no-repeat center center/cover;
}
.box-laybel__body {
  height: 60vh;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.box-laybel__title {
  margin: 20px 0 10px;
}
.box-laybel__title h2 {
  font-weight: 700;
  color: #F9F9F9;
}
.box-laybel__subtitle {
  margin: 0 0 25px;
}
.box-laybel__subtitle h3 {
  color: #F9F9F9;
}
.banner {
  text-align: center;
  padding: 20px 0;
  background: #222222;
  font-size: clamp(0.75rem, 0.661rem + 0.45vw, 0.875rem);
}
.banner__body {
  color: #F9F9F9;
}
.banner__body span:first-child {
  background: #eb5757;
  margin: 0 10px 0 0;
  padding: 5px clamp(0.625rem, -0.486rem + 2.31vw, 1.25rem);
  border-radius: 20px;
}

.box-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px;
}
.box-header__title {
  width: 47%;
  margin: 5px 0 0;
}
.box-header__title h4 {
  font-size: 16px;
  margin: 0 0 10px;
}
.box-header__title h2 {
  font-weight: 700;
  font-size: 40px;
}
.box-header__subtitle {
  width: 47%;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.5;
}

.products__body {
  display: flex;
  justify-content: space-between;
}
.products__produc {
  width: 32.5%;
}
.products__img {
  position: relative;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: 0 0 20px;
}
.sale .products__img::after {
  content: "SALE";
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 25px;
  line-height: 1.5;
  background: #eb5757;
  color: #F9F9F9;
  border-radius: 5px;
}
.products__img img {
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.products__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__name {
  font-size: 20px;
  line-height: 1.5;
}
.products__cost {
  margin: 10px 0 20px;
}
.products__cost span {
  display: inline-block;
  margin: 0 0 0 10px;
  color: #eb5757;
  text-decoration: line-through;
}
.img-text-box__body {
  display: flex;
  justify-content: end;
  position: relative;
}
.img-text-box__left {
  position: absolute;
  background: url("../img/christiann-koepke.jpeg") no-repeat 50% 50%/cover;
  width: 45%;
  height: 90%;
  border-radius: 5px;
  inset: 5% auto 0% 0%;
  overflow: hidden;
}
.img-text-box__right {
  background: #222222;
  border-radius: 5px;
  display: flex;
  justify-content: end;
}
.img-text-box__text {
  color: #F9F9F9;
}
.img-text-box__title {
  margin: 0 0 10px;
}
.img-text-box__title h2 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 700;
}
.img-text-box__subtitile p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 10px;
}
.img-text-box__subtitile span {
  font-weight: 700;
}

.cart {
  position: fixed;
  inset: 0px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.5s;
}
.cart.active {
  opacity: 1;
  visibility: visible;
}
.cart__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  height: 100%;
  background: #F9F9F9;
  z-index: 10;
  padding: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.cart__container.active {
  transform: translateX(0%);
}
.cart__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cart__header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  color: #222222;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart__header-title {
  font-size: 20px;
  font-weight: 700;
}
.cart__header-close button {
  font-size: 40px;
  background: none;
  font-weight: 400;
}
.cart__products {
  flex: 1 0 auto;
  padding: 20px 30px;
}
.cart__product {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 0 20px;
}
.cart__product-data {
  display: flex;
}
.cart__product-img {
  width: 60px;
  height: 60px;
}
.cart__product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart__product-details {
  margin: 0 0 0 10px;
}
.cart__product-details h3 {
  font-size: 16px;
  font-weight: 700;
}
.cart__product-details h4 {
  margin: 6px 0;
  font-size: 15px;
}
.cart__product-details button {
  color: #eb5757;
  text-decoration: underline;
  background: none;
  font-size: 15px;
}
.cart__product-details button:hover {
  text-decoration: none;
}
.cart__input {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  padding: 0 0 0 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.cart__footer {
  padding: 20px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.cart__footer-top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 25px;
  font-size: 18px;
}
.cart__footer-subtotal {
  font-weight: 700;
}
.cart__payment-methods {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.cart__payment-methods a {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  margin: 0 0 10px;
  padding: 0px 20px;
  background: #F9F9F9;
  color: #F9F9F9;
}
.cart__payment-methods a img {
  max-width: 45px;
}
.cart__apple-pay {
  width: 49%;
}
.cart__google-pay {
  width: 49%;
}
.cart__checkout .button {
  padding: 12px 35px;
}
.cart__checkout a {
  width: 100%;
  text-align: center;
}

.header {
  background: #eb5757;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header__body {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
}
.header__nav-item {
  margin: 0 clamp(0.625rem, -0.486rem + 2.31vw, 1.25rem);
  padding: 4px 10px;
  border-radius: 5px;
}
.header__nav-item a {
  color: #F9F9F9;
  font-size: 16px;
  font-weight: 400;
}
.header__nav-item:hover {
  background: #222222;
}
.header__cart {
  position: relative;
}
.header__cart button {
  padding: 6px 15px;
  border-radius: 5px;
  background: #222222;
}
.header__cart button img {
  max-width: 20px;
}
.header__cart-quality {
  height: 23px;
  width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  position: absolute;
  top: -10px;
  right: -10px;
  background: #F9F9F9;
  border-radius: 50%;
}

.shop-merch {
  margin: 125px 0 0;
}
.shop-merch::after {
  content: "";
  background: url("../img/hero.jpg") no-repeat center center/cover;
}
.shop-merch__title h2 {
  font-size: 62px;
  width: 55%;
  line-height: 1.2;
}
.shop-merch__subtitle h3 {
  width: 45%;
  font-size: 18px;
  line-height: 1.5;
}
.way-to-support__colums {
  display: flex;
  justify-content: space-between;
}
.way-to-support__colum {
  width: 30%;
}
.way-to-support__colum-card {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #222222;
  color: #F9F9F9;
  margin: 0 0 45px;
  position: relative;
  font-size: 40px;
  border-radius: 5px;
}
.way-to-support__colum-card h2, .way-to-support__colum-card h4 {
  font-weight: 700;
}
.way-to-support__colum-card h2 {
  max-width: 60%;
  text-align: center;
  line-height: 1.2;
}
.way-to-support__colum-card h4 {
  position: absolute;
  top: 10%;
  left: 10%;
}
.way-to-support__colum-subtitle {
  margin: 0 0 10px;
  color: #222222;
  font-size: 16px;
  line-height: 1.5;
}
.way-to-support__circle {
  position: absolute;
  bottom: -25%;
  right: -25%;
}
.way-to-support__triangle {
  position: absolute;
  bottom: -17%;
  right: -11%;
}
.way-to-support__rectangle {
  position: absolute;
  bottom: -31%;
  right: -14%;
}

.our-statement.box-laybel::after {
  content: "";
  background: url("../img/nathan-dumlao.jpg") no-repeat center center/cover;
}
.our-statement__body {
  display: flex;
  align-items: end;
  text-align: right;
}
.our-statement__title {
  width: 45%;
}
.our-statement__title h2 {
  font-size: 45px;
}
.our-statement__subtitle {
  width: 35%;
}
.our-statement__subtitle h3 {
  font-size: 18px;
  line-height: 1.5;
}
.shop-products__all-products {
  text-align: center;
  margin: 70px 0 10px;
}

.shop-local__left {
  width: 30%;
  background: url("../img/christiann-koepke.jpeg") no-repeat 50% 50%/cover;
}
.shop-local__right {
  width: 80%;
  padding: 45px 145px;
}
.shop-local__text {
  width: 80%;
}
.footer {
  background: #222222;
  padding: 65px 0 20px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
}
.footer__messangers {
  display: flex;
  justify-content: space-between;
}
.footer__messangers img {
  width: 30px;
}
.footer__messangers img:nth-child(2) {
  margin: 0 10px 0;
}
.footer__bottom {
  color: #F9F9F9;
  text-align: center;
}

.donate-laybel {
  margin: 125px 0 0;
}
.donate-laybel::after {
  content: "";
  background: url("../img/donate.jpeg") no-repeat 50% 0%/cover;
}
.donate-laybel__body {
  width: 40%;
  margin: 45px auto 0;
  text-align: center;
}
.donate-laybel__title h2 {
  font-size: clamp(2.188rem, 1.299rem + 1.85vw, 2.688rem);
  font-weight: 700;
}
.donate-laybel__subtitle h4 {
  font-size: 16px;
  line-height: 1.5;
}

.donate-form__body {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  border: 3px solid #000;
  padding: 30px;
  border-radius: 10px;
}
.donate-form__body a {
  text-align: center;
  margin: 0 0 20px;
}
.donate-form__body a:last-child {
  margin: 0;
}

.your-advature {
  margin: 125px 0 0;
}
.your-advature::after {
  content: "";
  background: url("../img/your-advature.jpeg") no-repeat center center/cover;
}
.your-advature__body {
  max-width: 500px;
}
.your-advature__title h2 {
  font-size: clamp(3.75rem, 2.417rem + 2.78vw, 4.5rem);
}
.your-advature__subtitle h3 {
  font-size: clamp(1.125rem, 0.681rem + 0.93vw, 1.375rem);
}
.our-advantage__header {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.our-advantage__title {
  margin: 20px 0 10px;
}
.our-advantage__title h2 {
  font-weight: 700;
  font-size: 32px;
}
.our-advantage__subtitle {
  margin: 0 0 10px;
}
.our-advantage__subtitle h4 {
  font-size: 16px;
  line-height: 1.5;
}
.our-advantage__colums {
  padding: 65px 0;
  display: flex;
  justify-content: space-around;
}
.our-advantage__colum {
  width: 22%;
}
.our-advantage__colum-title {
  margin: 20px 0 10px;
}
.our-advantage__colum-title h2 {
  font-weight: 700;
  font-size: 24px;
}
.our-advantage__colum-text h4 {
  font-size: 16px;
  line-height: 1.5;
}

.meet-our-owners__left {
  width: 45%;
  background: url("../img/meet-our-owners.jpeg") no-repeat 50% 90%/cover;
}
.meet-our-owners__right {
  width: 70%;
  padding: 90px 50px 90px 245px;
}
.meet-our-owners__owners {
  display: flex;
  justify-content: space-around;
  padding: 100px 0 0;
}
.meet-our-owners__owner {
  width: 35%;
  text-align: center;
}
.meet-our-owners__owner-img img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.meet-our-owners__owner-name {
  margin: 20px 0 10px;
}
.meet-our-owners__owner-name h2 {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
}
.meet-our-owners__owner-story {
  font-size: 16px;
  line-height: 1.5;
}

.need-help::after {
  content: "";
  background: url("../img/need-help.jpeg") no-repeat center center/cover;
}
.need-help__body {
  max-width: 450px;
}
.need-help__title h2 {
  font-size: clamp(3.75rem, 2.417rem + 2.78vw, 4.5rem);
}
.need-help__subtitle h3 {
  font-size: clamp(1.125rem, 0.681rem + 0.93vw, 1.375rem);
}
.contact-acme {
  background: #222222;
  margin: 124px 0 0;
  position: relative;
}
.contact-acme__body {
  position: relative;
}
.contact-acme__title h2 {
  font-size: 38px;
  font-weight: 700;
  color: #F9F9F9;
  margin: 0 0 10px;
}
.contact-acme__colums {
  display: flex;
}
.contact-acme__img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background-image: linear-gradient(to right, #222222, hsla(0, 0%, 13.33%, 0.18) 76%), url("../img/vinicius-amano.jpeg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.contact-acme__colum {
  width: 27%;
  padding: 40px;
  margin: 25px 20px 0 0;
  text-align: center;
  background: #fff;
}
.contact-acme__colum img {
  margin: 0 0 clamp(0.625rem, -2.153rem + 5.79vw, 2.188rem);
}
.contact-acme__colum h2 {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 36px;
}
.contact-acme__colum h4 {
  margin: 0 0 10px;
  line-height: 1.5;
}

.contact-acme-form__body {
  display: flex;
}
.contact-acme-form__contact-us {
  width: 30%;
}
.contact-acme-form__title {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 32px;
}
.contact-acme-form__subtitle {
  margin: 0 0 20px;
}
.contact-acme-form__number span {
  font-weight: 700;
}
.contact-acme-form__contact-form {
  width: 70%;
  margin: 0 0 0 20px;
}
.contact-acme-form__form input {
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
}
.contact-acme-form__form p {
  margin: 0 0 10px;
}
.contact-acme-form__name {
  margin: 0 0 15px;
}
.contact-acme-form__email {
  margin: 0 0 15px;
}
.contact-acme-form__text-area {
  margin: 0 0 15px;
}
.shop-our-product-title {
  margin: 125px 0 0;
  background: #222222;
}
.shop-our-product-title__body h2 {
  font-size: 38px;
  font-weight: 700;
  color: #F9F9F9;
}

.shop-product-slider__product {
  position: relative;
  height: 250px;
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(34, 34, 34, 0.9150253852) 4%, rgba(255, 255, 255, 0) 100%);
  overflow: hidden;
}
.shop-product-slider__product:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url("../img/shop-product-slider.jpeg") no-repeat 50% 50%/cover, rgba(0, 0, 0, 0.2);
}
.shop-product-slider__data {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.shop-product-slider__data span {
  color: #F9F9F9;
}
.shop-product-slider__name {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 5px;
}
.shop-product-slider__const {
  font-size: 16px;
  line-height: 1.5;
}
.shop-product-slider__buttun {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 20px;
  background: #F9F9F9;
  border-radius: 5px;
}
.shop-product-slider__buttun a {
  color: #222222;
  font-size: 16px;
  line-height: 1.5;
}

.shop-pruducts__body {
  display: flex;
}
.shop-pruducts__sort-by-category {
  width: 20%;
}
.shop-pruducts__sort-by-category-title {
  font-size: 18px;
  margin: 0 0 10px;
}
.shop-pruducts__sort-by-category-title h2 {
  font-weight: 700;
}
.shop-pruducts__categories {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 0;
}
.shop-pruducts__categoty-button {
  margin: 0 0 10px;
}
.shop-pruducts__products {
  width: 80%;
  max-width: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}
.shop-pruducts__product {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  margin: 0 0 30px;
}
.shop-pruducts__product-img {
  width: 100%;
  height: 400px;
  background: url("../img/coffee.jpeg") no-repeat 50% 50%/cover;
}
.shop-pruducts__product-data {
  margin: 15px 0;
}
.shop-pruducts__product-name {
  font-size: 20px;
  line-height: 1.5;
}
.shop-pruducts__product-cost {
  line-height: 1.5;
}
.shop-pruducts__button a {
  color: #F9F9F9;
}

@media (max-width: 1200px) {
  [class*=container] {
    max-width: none;
  }
  .shop-local__text {
    padding: 0 40px;
  }
  .way-to-support__colum {
    width: 30%;
  }
  .way-to-support__colum-card {
    font-size: 30px;
  }
  .way-to-support__colum-card h2 {
    max-width: 70%;
  }
}
@media (max-width: 992px) {
  [class*=container] {
    max-width: none;
  }
  .cart__container {
    width: 60%;
  }
  section {
    padding: 31px 0;
  }
  .donate-laybel__body {
    justify-content: center;
    width: 60%;
    margin: 0 auto;
  }
  .products__body {
    flex-wrap: wrap;
  }
  .products__produc {
    width: 49%;
    margin: 0 0 70px;
  }
  .products__produc:last-child {
    margin: 0;
  }
  .products__img {
    max-height: 300px;
  }
  .header__nav {
    width: 80%;
    max-width: 400px;
    position: fixed;
    top: 120px;
    bottom: 0;
    right: 0;
    background: #eb5757;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: transform 0.3s;
    transform: translateX(100%);
  }
  .header__nav.active {
    transform: translateX(0%);
  }
  .header__nav-item {
    margin: 0 0 15px;
  }
  .header__nav-item:first-child {
    margin: 35px 0 15px;
  }
  .header__nav-item a {
    display: inline-block;
    font-size: 25px;
  }
  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__burger {
    margin: 0 0 0 20px;
    background: none;
    position: relative;
    width: 33px;
    height: 33px;
    cursor: pointer;
    border: none;
  }
  .header__burger:hover, .header__burger:active {
    background: none;
  }
  .header__burger span {
    display: block;
    width: 33px;
    height: 4px;
    border-radius: 10px;
    background: #F9F9F9;
    transition: transform 0.3s, opacity 0.3s;
    position: absolute;
    left: 0;
  }
  .header__burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .header__burger span:first-child {
    top: 4px;
  }
  .header__burger span:last-child {
    bottom: 4px;
  }
  .header__burger.active span:first-child {
    transform: translateY(10.5px) rotate(45deg);
  }
  .header__burger.active span:nth-child(2) {
    opacity: 0;
  }
  .header__burger.active span:last-child {
    transform: translateY(-10.5px) rotate(-45deg);
  }
  .shop-merch__title h2 {
    width: 60%;
    font-size: 62px;
  }
  .our-statement__title {
    width: 60%;
  }
  .our-statement__subtitle {
    width: 60%;
  }
  .shop-products__all-products {
    margin: 50px 0 0;
  }
  .shop-local__img {
    height: 400px;
  }
  .shop-local__text {
    padding: 0 0 0 50px;
    width: 100%;
  }
  .our-advantage__header {
    width: 80%;
  }
  .our-advantage__colums {
    flex-wrap: wrap;
    padding: 35px 0;
  }
  .our-advantage__colum {
    min-width: 250px;
    margin: 0 0 45px;
  }
  .contact-acme {
    padding: 0px 0 124px;
  }
  .contact-acme__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-acme__colums {
    justify-content: space-between;
  }
  .contact-acme__colum {
    width: 48%;
    margin: 25px 0 0;
  }
  .contact-acme__img {
    position: static;
    height: 450px;
    width: 100%;
    background-position: 0px 0px, 50% 33%;
    margin: 0 0 25px;
  }
  .contact-acme-form__body {
    display: flex;
    flex-direction: column;
  }
  .contact-acme-form__contact-us {
    width: 100%;
  }
  .contact-acme-form__contact-form {
    width: 100%;
    margin: 20px 0 0;
  }
  .shop-pruducts__body {
    display: flex;
    flex-direction: column;
  }
  .shop-pruducts__sort-by-category {
    width: 100%;
    text-align: start;
    margin: 0 0 30px;
  }
  .shop-pruducts__products {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .shop-pruducts__categoty-button {
    text-align: start;
  }
  .shop-pruducts__categories {
    margin: 0;
  }
  .meet-our-owners__right {
    padding: 90px 50px 90px 145px;
  }
}
@media (max-width: 767px) {
  [class*=container] {
    max-width: none;
  }
  .box-header {
    flex-direction: column;
  }
  .box-header__title {
    width: 100%;
  }
  .box-header__title h2 {
    margin: 0px 0 20px;
  }
  .box-header__subtitle {
    width: 100%;
  }
  section.shop-local {
    padding: 65px 0 0;
  }
  .box-laybel__body {
    justify-content: end;
  }
  .button {
    display: inline-block;
    font-weight: 700;
    border-radius: 10px;
    line-height: 1.5;
  }
  .header__body {
    padding: 25px 0;
  }
  .header__nav {
    width: 100%;
    max-width: none;
  }
  .cart__container {
    width: 100%;
    max-width: 480px;
  }
  .donate-laybel__body {
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  .shop-merch__body {
    justify-content: center;
  }
  .shop-merch__title h2 {
    width: 60%;
    max-width: 550px;
  }
  .shop-merch__subtitle h3 {
    width: 60%;
    max-width: 550px;
  }
  .footer {
    background: #222222;
    padding: 45px 0 15px;
  }
  .footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__logo {
    margin: 0 0 40px;
  }
  .footer__messangers {
    display: flex;
    justify-content: space-between;
  }
  .footer__messangers img {
    width: 30px;
  }
  .footer__messangers img:nth-child(2) {
    margin: 0 50px 0;
  }
  .our-statement__title {
    width: 100%;
    max-width: 550px;
  }
  .our-statement__subtitle {
    width: 100%;
    max-width: 550px;
  }
  .way-to-support__colums {
    flex-direction: column;
  }
  .way-to-support__colum {
    width: 100%;
  }
  .way-to-support__colum-card {
    height: 320px;
    font-size: 40px;
    margin: 0 0 25px;
  }
  .way-to-support__colum-subtitle {
    margin: 0 0 40px;
    color: #222222;
    font-size: 16px;
    line-height: 1.5;
  }
  .way-to-support__circle {
    position: absolute;
    bottom: -25%;
    right: -25%;
  }
  .way-to-support__triangle {
    position: absolute;
    bottom: -17%;
    right: -11%;
  }
  .way-to-support__rectangle {
    position: absolute;
    bottom: -31%;
    right: -14%;
  }
  .products__body {
    flex-direction: column;
  }
  .products__produc {
    width: 100%;
    margin: 0 0 20px;
  }
  .products__img {
    max-height: none;
  }
  .img-text-box__container {
    padding: 0;
  }
  .img-text-box__body {
    flex-direction: column;
  }
  .img-text-box__right {
    width: 100%;
    padding: 50px 30px;
    border-radius: 0px;
  }
  .img-text-box__left {
    width: 100%;
    position: static;
    height: 400px;
    border-radius: 0px;
  }
  .img-text-box__img {
    height: auto;
  }
  .img-text-box__img img {
    position: relative;
    height: auto;
    width: 100%;
  }
  .img-text-box__text {
    width: 100%;
    padding: 0;
  }
  .meet-our-owners__owners {
    flex-direction: column;
  }
  .meet-our-owners__owner {
    padding: 0 15px;
    width: 100%;
  }
  .meet-our-owners__owner:last-child {
    margin: 70px 0 0;
  }
  .our-advantage__header {
    width: 100%;
  }
  .our-advantage__colums {
    flex-wrap: wrap;
  }
  .our-advantage__colum {
    min-width: 80%;
  }
  .our-advantage__colum:last-child {
    margin: 0;
  }
  .contact-acme__container {
    padding: 0;
  }
  .contact-acme__body {
    padding: 0 15px;
  }
  .contact-acme__colums {
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-acme__img {
    height: 350px;
  }
  .contact-acme__colum {
    width: 100%;
    margin: 25px 0 0;
  }
  .shop-pruducts__products {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 425px) {
  .our-advantage__header {
    width: 100%;
  }
  .our-advantage__colums {
    flex-wrap: wrap;
  }
  .our-advantage__colum {
    min-width: 100%;
    text-align: center;
  }
  .shop-merch__body, .need-help__body, .our-statement__body, .your-advature__body {
    justify-content: end;
    text-align: left;
    align-items: start;
  }
  .shop-merch__title h2, .need-help__title h2, .our-statement__title h2, .your-advature__title h2 {
    font-size: 30px;
    width: 70%;
    max-width: 550px;
  }
  .shop-merch__subtitle h3, .need-help__subtitle h3, .our-statement__subtitle h3, .your-advature__subtitle h3 {
    width: 70%;
    max-width: 550px;
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */